{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

{% block stylesheets %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        text-align: center;
    }

    .messenger-list {
        /* New styles for centering messages */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Adjust the margin as needed */
    }

    .messages {
        /* New styles for centering messages */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Adjust the margin as needed */
    }
</style>


{% endblock stylesheets %}
{% block content %}
<div class="container">
    <!-- Display messengers list -->
    <div class="messenger-list">
        <h2>Messengers:</h2>
        <ul>
            {% for messenger in messengers %}
                <li>
                    <a href="?messenger={{ messenger.messenger }}" style="color: #E94B29;"><strong>{{ messenger.messenger }}</strong></a>
                    {% if selected_messenger == messenger.messenger %}
                        <ul>
                            {% for user in users %}
                                {% if user.messenger == messenger.messenger %}
                                    <li>
                                        <a href="?messenger={{ messenger.messenger }}&user={{ user.user_id }}" style="color: #E94B29;">{{ user.user_name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Display messages for the selected user -->
    <div class="messages">
        {% if all_messages or selected_user_messages %}
            <h3>Messages for {{ selected_user.user_name }}:</h3>
            <ul>
                {% for message in selected_user_messages %}
                    <li>
                        <p>User Message: {{ message.message_text }}</p>
                        <p>AI Answer: {{ message.response_text }}</p>
                        <p>User Timestamp: {{ message.timestamp }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No messages available.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
