{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">

    <!-- Display messengers list -->
    <div class="messenger-list">
        <div class="card-header">
            <h2>Мессенджеры:</h2>
        </div>

        <ul>
            {% for messenger in messengers %}
                <li>
                    <a href="?messenger={{ messenger.messenger }}" style="color: #E94B29;"><strong>{{ messenger.messenger }}</strong></a>
                    {% if selected_messenger == messenger.messenger %}
                        <ul>
                            {% for user in users %}
                                {% if user.messenger == messenger.messenger %}
                                    <li>
                                        <a href="?messenger={{ messenger.messenger }}&user={{ user.user_id }}" style="color: #E94B29;">{{ user.user_name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
          </div>
                </div>
    <!-- Display messages for the selected user -->


    {% if selected_user_messages %}
<div class="row">
<div class="col-md-8">
<div class="card">
        <div class="card-header">
            <h3>Сообщения пользователя : {{ selected_user.user_name }}:</h3>
        </div>
    <ul>
        {% for message in selected_user_messages %}
            {% if message.ai_prefix %}
                <p>{{ message.ai_prefix }}: {{ message.message_text }}</p>
                <p>{{ message.timestamp }}</p>
            {% elif message.user %}
                <p>{{ message.user.user_name }}: {{ message.message_text }}</p>
                <p>{{ message.timestamp }}</p>

            {% endif %}
        {% empty %}
            <p>No messages found.</p>
        {% endfor %}
    </ul>
    {% else %}
        <p></p>
    {% endif %}

</div>
</div>
</div>
</div>
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
